* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 500px;
  // background-image: url('/assets/gif/mk3-stage-temple.gif');
  // opacity: 0.6;
  background-size: cover;
  background-position: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.life {
  margin-left: 3%;
}