h1, h2, h3, h4, h5, p, a, li{
    font-family: sans-serif;
}

round, result{

    max-width: 1200;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;


    p{
        text-align: center;
        font-size: 20px;
  }

  .fA{
    color: rgb(0, 106, 255);
  }
  .fB{
    color:red;
  }
}

result{
    margin-bottom: 30px;
    p{
        font-weight: bold;
    }
}
